*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
    font-family: 'Inter';
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    text-size-adjust: auto;
    scroll-behavior: smooth;
    color: var(--ug-black);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bolder;
}

p{
  line-height: 1.8;
  margin: 0;
}


img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Background-Colors */
.bg-ug-blue{
  background-color: var(--ug-blue) !important;
}

.bg-ug-gold{
  background-color: var(--ug-gold) !important;
}

.bg-pale-blue{
  background-color: var(--ug-pale-blue) !important;
}

.bg-ug-grey{
  background-color: var(--ug-grey) !important;
}

.bg-ug-light-grey{
  background-color: var(--ug-light-grey) !important;
}

.bg-ug-ash{
  background-color: var(--ug-ash) !important;
}

.bg-ug-pale-gold{
  background-color: var( --ug-pale-gold) !important;
}


/* Text Color */
.tc-w{
  color: white;
}

.tc-b{
  color: var(--ug-black);
}


/* Container */
.full-width-content{
  margin-left: calc(50% - 49.6vw);
  margin-right: calc(50% - 49.6vw);
}

/* Paddings */
.pt-xsm{
  padding-top: 1.3333rem;
}
.pb-xsm{
  padding-bottom: 1.3333rem;
}

.pt-sm{
  padding-top: 2.6666rem;
}

.pb-sm{
  padding-bottom: 2.6666rem;
}

.pt-md{
  padding-top: 5.3333rem;
}

.pb-md{
  padding-bottom: 5.33333rem;
}

.pt-lg{
  padding-top: 8rem;
}

.pb-lg{
  padding-bottom: 8rem;
}