:root{
    /* Colors */
    --ug-blue: #153D6C;
    --ug-gold: #B99D64;
    --ug-pale-blue: #F4F3FF;
    --ug-black: ##211F1F;
    --ug-grey: #F6F6F6;
    --ug-grey-lines: #E7E7E7;
    --ug-ash: #676767;
    --ug-pale-gold: #B99D641A;

    /* Padding */
    




    /* Margin */

    
}

