

  {% block paragraph %}
      {% block content %} 
          <div class="team-member">
            <div class="team-member-image">
              {{ content.field_image.0 }}
            </div>
           
            <div class="team-member-details">
              <h4 class="mt-3">{{ content.field_name.0 }}</h4>
              <span class="text-secondary">{{ content.field_role.0 }}</span>
            </div>   
          </div>
      {% endblock %}
  {% endblock paragraph %}


{# {{ content.field_image | json_encode(constant('JSON_PRETTY_PRINT')) }} #}

