{%
  set classes = [
    'row',
  ]
%}

  {% block paragraph %}
  
   
      {% block content %} 
       <button class="btn btn-primary givebtn" type="button"><a href="{{ content.field_link[0]['#url'] }}">{{ content.field_link[0]['#title'] }}</a></button>
   
      {% endblock %}
   
 
  {% endblock paragraph %}


{# {{ content.field_image | json_encode(constant('JSON_PRETTY_PRINT')) }} #}

