
<div class="functions mb-4">
    <div class="row">
        <div class="col-lg-5 pl-lg-0">
            <h4 class="font-weight-bolder">{{ content.field_title }}</h4>
        </div>
        <div class="col-lg-6 offset-lg-1 pb-4 border-bottom border-dark pl-lg-0">
            {{ content.field_body }}
        </div>
    </div>
</div>        