<div class="pillars d-flex flex-column justify-content-center">
    {{ content.field_icon }}
    <span class="font-weight-bolder text-align-center">{{ content.field_title}} </span>
    {{ content.field_body }}
</div>