/* Global */


/* Social Media share */
.addtoany_list{
    top: 0;
    right: 0;
  }
  
.addtoany_list > a:hover{
    color: #B69A64 !important;
}
  
  .a2a_svg{
    background-color: unset !important;
  }
  
  .a2a_svg path{
    fill: #153D6C !important;
  }
  
  .addtoany_share span:first-child{
    display: none;
  }
  
  .addtoany_share::before{
    content: '\f064';
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 1rem;
    color: #153D6C;
    padding-left: 5px;
  }

  /* End  */



/* Contact Page */
.postal-address, .email, .contact-info{
    display: flex;
    align-items: center;
}
.location{
    display: flex;
    align-items: flex-start;
}


.postal-address iconify-icon, .email iconify-icon, .contact-info iconify-icon, .location iconify-icon{
    margin-right:20px;
    font-size:30px;
    color: #153d6c;
}

.postal-address iconify-icon svg, .email iconify-icon svg, .contact-info iconify-icon svg, .location iconify-icon svg{
    font-size: 30px;
}


/* Page Banner CSS */
.page-banner-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-end;
    justify-content: start;
}

.page-banner-text{
    font-weight: 600;
    margin-bottom: 5rem;
    color: #ffffff;

}

#block-pagetitle {
    position: absolute;
    padding: 0 10%;
    display: flex;
    height: 100%;
    align-items: flex-end;
}

#block-pagetitle .page-title{
    color:white;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;

}

/* News */
.block-views-blocknews-news-page .view-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .block-views-blocknews-news-page .view-content {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 787px){
    .block-views-blocknews-news-page .view-content{
        grid-template-columns: 1fr;
    }
}
.news-card{
    text-decoration: none;
    overflow: hidden;
}

.news-card .news-image {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    
}

.news-card .news-image img{
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}

.news-card:hover .news-image img{
    transform: scale(1) translateY(-30px);
    transition: transform 0.4s ease-in-out;
}


.news-card:hover .news-summary{
    opacity:1;
    transition: opacity 0.25s ease-in-out;
}

.news-card:hover .news-detail{
    position: relative;
    transform:translateY(-70px);
    transition: transform 0.3s ease-in-out;
}

.news-detail{
    transform: translateY(0px);
    transition: transform 0.3s ease-out;
    color: var(--ug-black);
}

.news-summary{
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-out ;
}


/* End */


/* home Page Events  */
.events{
    padding: 4rem 0rem;
}

.events-title{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap:wrap;
}


@media(max-width: 710px){
    .events-title, .events-sample{
        flex: 0 0 100%;
    }
}

.events-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));  
    grid-gap: 2rem;
}

@media screen and (max-width: 400px ){
    .events-grid{
        grid-template-columns: 1fr;
    }
}

.events-grid-content{
    border: 1px solid var(--ug-grey-lines);
    border-radius: 12px;
    padding: 0 24px 24px 24px;
}

.event-date{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px 15px;
    gap: 5px;
    position: relative;
    top: -0.8px;
}

.event-date .short-month{
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.1;
}

.event-date .day{
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
}


.events-grid-content p{
    margin-top: 1rem;
}

.events-grid-content a{
    color:#2c2c2c;
    font-weight: 700;
}
.events-grid-content a:hover{
    color:#B99D64;
    text-decoration:none;
}

.venue, .time, .date{
    color: #676767;
    margin-left: 5px;
}

.event-date-time{
    line-height: 31px;
}
/* End */





/* Faculty Page */
.grid-faculty{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}

.faculty{
    background:#f7f7f7; 
}

.faculty-img{
    padding-bottom: 340px;
    position: relative;
}

.faculty-img img{
    width:100%;
    position:absolute;
    height: 100%;
    object-fit: cover;
}

.faculty-details{
    padding: 2rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .grid-faculty {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 787px){
    .grid-faculty{
        grid-template-columns: 1fr;
    }
}
/* End of faculty page */

/* Indivdual Staff Page */
.staff-name a{
    color: #2c2c2c;
    text-decoration: none;
}

.staff-name a:hover{
    color: #b99d64;
    text-decoration: none;
}

.profile-details, .profile-more{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 4rem;
}

@media (min-width: 768px) and (max-width: 991px){
    .profile-details, .profile-more{
        grid-template-columns: 1fr 3fr;
    }    
}

@media (min-width: 600px) and (max-width: 767px){
    .profile-details, .profile-more{
        grid-template-columns: 1fr 2fr;
    } 
}

@media (max-width: 599px){
    .profile-details, .profile-more{
        grid-template-columns: 1fr;
        gap: 1rem;
    } 
}

.profile-section{
    border-bottom: 1px solid #E7E7E7;;
}

.position-contact-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;  
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-bottom: 1px solid;
}

.position-contact-info .position{
    color:#676767;
}

.faculty-menu ul{
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.faculty-menu a{
    color: #2c2c2c;
}

.faculty-menu a:hover{
    color: #b99d64;
    text-decoration: none;
}

.faculty-menu.body-menu{
    display: none;
}

.faculty-menu-button{
    margin-top: 3rem;
    width: 100%;
    border: 1px solid #b99d64;
    background-color: transparent;
    padding: 0.5rem;
}



@media (max-width: 599px){
    .faculty-menu-button{
        display: block;
    }

    .faculty-menu.body-menu{
        display: block
    }

    .faculty-menu.side-menu{
        display:none;
    }
}

.img-faculty{
    text-align: center;
}

.img-faculty img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.contact{
    display: flex;
    flex-direction: column;
}

.faculty-info{
    padding-top: 3rem;
}

/* End */


.js-pager__items{
    padding-left: 0px;
    text-align: center;
}

.pager__item{
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right:2rem;
}

.pager__item a{
    color:#153d64;
}


.sticky-menu{
    position: sticky;
    top: 15%;
}

.date-social{
    display:flex;
    justify-content: space-between;
}

 .page-content{
    margin: 0 5%
}

.page-image{
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
}
.page-image img{
    height: 70vmin;
    width: 100%;
    object-fit: cover;
}

.news-grid, .spotlight-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: stretch;
    grid-gap: 31px 25px
}

.newsIDColumn, .spotlightIDColumn{
    border: 1px solid #f7f7f7;
}
.newsIDcolumn:hover, .spotlightIDColumn{
    box-shadow: 3px 7px 10px 6px rgba(219,229,255,0.41);
    transition: 0.5s;
}


.newsItem, .spotlightItem {
    background: #ffff;
}

.newsContent, .spotlightContent {
    margin: 21px;
}

.news-grid img, .spotlight-grid img {
    width: 100%;
    height: 234px;
    object-fit: cover;
}
.news-Heading-2 a, .eventItem a{
    color:#000000;
}

.news-Heading-2 a:hover, .eventItem a:hover{
    color:#B99D64;
    text-decoration: none;
}
.eventItem, .announcementItem{
    border: 1px solid #efefef;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.wrapper{
    margin: 0 15%;
}

/* Programmes page */
.bef-exposed-form .form--inline > .form-item, .bef-exposed-form .form--inline .js-form-wrapper > .form-item {
    margin: 0;
}

.fieldgroup.form-composite.bef-links > ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 1rem;
    flex-wrap:wrap;
    margin-bottom: 0;
}

.fieldgroup.form-composite.bef-links li a:active{
    background: #153D64;
}


.fieldgroup.form-composite.bef-links .bef-link.bef-link--selected{  
    background-color:#153D64;
    color: #FFFFFF;
}

.fieldgroup.form-composite.bef-links .bef-link:hover{
    color:#B99D64;
}

.fieldgroup.form-composite.bef-links .bef-link, .form-select.bef-links .bef-link {
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    border: 1px solid #e7e7e7;
    padding: 1rem 3rem;
    border-radius: 2rem;
    display: block;
    background-color: #e7e7e7;
}


/* People */
.staff-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 1.5rem;
}



/* mobile  */
