{%
  set classes = [
    '',
   
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('') }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
